body {
  font-family: 'Germania One', cursive;
  width: 100%;
  background-image: url('');
}

h1 {
  margin: auto 0;
  margin-left: 20%;
  margin-bottom: 3%;
  margin-top: 2%;
  text-align: center;
}

#avail {
  float: left;
  margin-right: 6%;
  margin-left: 10%;
}

img {
  height: 200px;
  width: 200px;
}

#devoured {
  float: right;
  margin-right: 20%;
  margin-left: 6%;

}

li {
  font-size: 20px;
  list-style-type: none;
}


#add {
  clear: both;
  margin-left: 25%;
}