body {
  font-family: 'Germania One', cursive;
  width: 100%;
  background-image: url('');
}

h1, h2 {
  margin: auto 0;
  margin-left: 20%;
  margin-bottom: 3%;
  margin-top: 2%;
  text-align: center;
  font-weight: 900;
}

img {
  height: 200px;
  width: 200px;
}

li {
  font-size: 20px;
  list-style-type: none;
}


#add {
  clear: both;
  margin-left: 25%;
}

.card1 {
  margin-left: 200px;
  width: 60%;

}

.card2 {
   margin-right: 200px;
   width: 60%;
}

